@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo&family=Raleway:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #FFFFFF;
  --bg-secondary: #006E90;
  --bg-tertiary: #0A090B;
  --font-primary: #0A090B;
  --font-secondary: #FFFFFF;
  --button-primary: #FE9D0B;
  --button-secondary: #21A179; 
}