@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #FFFFFF;
  --bg-secondary: #1C7293;
  --font-primary: #0A090B;
  --font-secondary: #FFFFFF;
  --button-primary: #BA2D0B;
  --button-secondary: #65B891; 
}